:host {
  display: block;
  .blog-posts-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .blog-posts-list {
    
  }
}

::ng-deep nb-card-header {
  .title {
    outline: none;
  }
}

form {
  div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &.text {
      align-items: flex-start;
    }
    label {
      margin-right: 10px;
    }
    &.actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}