:host {
  display: block;
  &:not(:first-child) {
    margin-top: 36px;
  }
  nb-card {
    nb-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title-wrapper {
        display: flex;
        align-items: center;
        img {
          // Behaves like background-size: cover
          // It is not supported by IE, but can be used as progressive enhancement
          object-fit: cover;
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
        .title {
          margin-left: 10px;
          display: flex;
          align-self: flex-start;
          justify-content: center;
          flex-direction: column;
          p {
            margin: 0;
          }
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        button[nbButton] {
          margin: 5px;
        }
      }
    }
  }

}
